.card .header {
    padding-bottom: 18px;
}

.card-meals {
    min-height: 380px;
}

.card-meals img {
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
}

.card-meals-content {
    padding-left: 16px;
    padding-right: 16px;
    min-height: 80px;
}

.card-meals-content h3 {
    font-size: 22px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.card-meals-content h5 {
    margin-top: 8px;
    color: #909090;
}

.card-meals-button {
    padding-left: 16px;
    padding-bottom: 20px;
    padding-right: 16px;
}

.card-meals-button .btn-primary.btn-fill.btn-pick-dis {
    background-color: #707070 !important;
    border-color: #707070;
}
